<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARALI | Deck</title>
    <link href="bootstrap-4.1.3/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="app/js/resource.manager.js" type="text/javascript"></script>
    <script src="app/js/table.manager.js" type="text/javascript"></script>
    <script src="app/js/form.manager.js" type="text/javascript"></script>
    <style>
        .container{
            position: relative;
            margin-top: 50px;
        }
        .buttons-box{
            height: 30px;
        }
        .buttons-box a.btn{
            color: #fff;
            float: right;
        }
        .buttons-box::after{
            content: '';
            clear: both;
        }
        input,
        select{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="deck">Decks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tag">Tags </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="card">Cards</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Deck</h5>
            <hr style="margin-bottom: 20px;"/>
            <table class="table table-bordered" id="createDeckTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rótulo</th>
                    <th scope="col">Remover</th>
                </tr>
                </thead>
                <tbody>
                <tr><td></td><td></td><td></td></tr>
                </tbody>
            </table>
            <div class="buttons-box">
                <a class="btn btn-success" data-toggle="modal" data-target="#createDeck">+</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal add option -->
<div class="modal fade" id="createDeck" tabindex="-1" role="dialog" aria-labelledby="createDeck" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOptionLabel">Criar Deck</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="createDeck">
                    <input type="text" name="label" placeholder="Rótulo" class="form-control"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" name="save">Salvar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $ = jQuery;
    $(function(){
        var deckModal    = $("#createDeck");
        var deckTable    = $("#createDeckTable>tbody");
        //-------------------
        var resourceManager = new ResourceManager($, "decks");
        //-------------------
        var form         = $('form[name=createDeck]');
        var tableManager = new TableManager(deckTable);
        var actionRemove = function(){
            var id = $(this).attr('data-index')
            resourceManager.delete(id, null, function(){
                updateTable(tableManager);
            });
        }
        var updateTable  = function(tableManager){
            resourceManager.findAllCustom({ 'not': 'cards' }, null, function(decks){
                tableManager.clean();
                decks = JSON.parse(decks);
                if(Array.isArray(decks)){
                    decks.forEach(function(deck){
                        tableManager.addRow(deck, actionRemove);
                    });
                }
            });
        }
        var formManager  = new FormManager($, form, deckModal, resourceManager, 
            function(deck){
                deck = JSON.parse(deck);
                updateTable(tableManager);
            }
        );
        updateTable(tableManager);
    });

</script>

</body>
</html>