<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARALI</title>
    <link href="bootstrap-4.1.3/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="display-1">ARALI</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Não importa o quão devagar você vá, desde que você não pare.</p>
            <footer class="blockquote-footer">Confúcio</footer>
        </blockquote>

        <div class="card">
            <div class="card-header">
                <h1>Decks</h1>
            </div>
            <div class="card-body">
                <div class="card-group">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Intermediário II</h5>
                            <p class="card-text">
                            Cards estudados 23/80
                            <br />
                            Último estudo: 29/05/2018
                            </p>
                        <a href="/study" class="btn btn-primary">Estudar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Intermediário I</h5>
                            <p class="card-text">
                            Cards estudados 57/144
                            <br />
                            Último estudo: 17/05/2018
                            </p>
                        <a href="/study" class="btn btn-primary">Estudar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">Básico I</h5>
                            <p class="card-text">
                            Cards estudados 96/96
                            <br />
                            Último estudo: 25/04/2018
                            </p>
                        <a href="/study" class="btn btn-primary">Estudar</a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>        
    </div>
</body>
</html>